.profile-header{
    margin-left: 5%;
}
.profile-card {
    max-width: 80%;
    max-height: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .profile {
    border-radius: 100%;
}
.Buttons{
    margin-left: 75%;
}



