.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.legend{
  size: 50%;
}
.profile {
  width: 240px;
  height: 240px;
  margin-top: 8px;
  border-radius: 50%;
}